services:
  postgres:
    image: postgres:17
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [
        "CMD", "pg_isready",
        "-U", "${POSTGRES_USER}",
        "-d", "${POSTGRES_DB}",
        "-h", "postgres"
      ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
  redis:
    image: redis:7-alpine
    command: "redis-server --port ${APP__REDIS__PORT:-6379} --requirepass ${APP__REDIS__PASSWORD}"
    healthcheck:
      test: ['CMD-SHELL', 'redis-cli -a "$APP__REDIS__PASSWORD" ping | grep PONG']
      interval: 10s
      timeout: 5s
      retries: 5
      start_interval: 5s
      start_period: 30s
    restart: unless-stopped
    ports:
      - "127.0.0.1:6379:${APP__REDIS__PORT:-6379}"
volumes:
  postgres_data:
